* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
.env.github.mysql export-ignore
.env.github.postgresql export-ignore
.scrutinizer.yml export-ignore
CHANGELOG.md export-ignore
package-lock.json export-ignore
Procfile export-ignore
