/node_modules
/public/css/stisla/*
/public/fonts
/public/hot
/public/node_modules
/public/storage
/public/js/helpers/*
/public/js/page/*
/public/js/stisla/*
/public/webfonts
/storage/*.key
/vendor
.env
.env.backup
.env.testing
.phpunit.result.cache
composer.lock
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
package-lock.json
yarn-error.log
/.idea
/.vscode
